
@font-face {
  font-family: Nunito;      
  src: url('../fonts/nunito-500-normal.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Bricolage;      
  src: url('../fonts/bricolage-500-normal.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Bricolage;      
  src: url('../fonts/bricolage-400-normal.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Nunito;      
  src: url('../fonts/nunito-600-normal.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Nunito;      
  src: url('../fonts/nunito-700-normal.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Bricolage;      
  src: url('../fonts/bricolage-700-normal.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
